.filters-container {
  display: flex;
  justify-content: center;

  position: relative;
}

.filters {
  display: flex;
  flex-direction: column;
  align-content: center;

  border: solid 2px black;

  position: relative;
  transform: translate(0, -50%);

  background-color: #fff;

  padding: 5px 15px;

  @media (min-width: 992px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.middle-filter {
  @media (min-width: 992px) {
    margin: 0 30px;
  }
}
